.tableContainer {
  width: 100%;

  tr {
    position: relative;
  }

  img {
    border-radius: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
  }

  table {
    table-layout: fixed;
  }

  table,
  thead,
  tbody {
    width: 100%;
  }

  th,
  td {
    padding: 0.75rem;
    border-bottom: 1px solid var(--gray-100);
  }

  th {
    color: var(--gray-200);
    text-transform: uppercase;
    font: 500 0.75rem Lexend, sans-serif;
    text-align: left;
  }

  td {
    font-family: Inter, sans-serif;
    font-size: 0.875rem;
  }
}

.tableContainer .title {
  position: relative;
  font-family: Lexend, sans-serif;
  font-weight: 600;
  line-height: 1.4rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover a {
    text-decoration: underline;
  }
}

.playButton {
  background: var(--white);
  border: 0;
  font-size: 0;

  width: 2rem;
  height: 2rem;

  border-radius: 0.625rem;
  border: 1px solid var(--gray-100);

  transition: filter 0.2s;
  &:hover {
    filter: brightness(0.9);
  }

  img {
    width: 1.5rem;
    height: 1rem;
  }
}

.members {
  text-align: justify;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
