.homeContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  width: 100%;

  padding: 3rem 4rem 0 4rem;
}

.ultimosLancamentos {
  h2 {
    margin-bottom: 1.5rem;
  }
}

.todosEpisodios {
  h2 {
    margin-bottom: 1.5rem;
  }
}

.ultimosLancamentosCards {
  display: flex;
  justify-content: space-between;
}
