.cardWrapper {
  position: relative;
  display: flex;
  align-items: center;

  height: 8.5rem;
  width: 100%;

  border-radius: 1.5rem;
  padding: 1.25rem 1rem 1.25rem 1rem;

  border: 1px solid var(--gray-100);

  img {
    border-radius: 1rem;
    max-width: 6rem;
    max-height: 6rem;
  }
}

.title {
  &:hover a {
    text-decoration: underline;
  }
}

.title:hover + .fullTitle {
  visibility: visible;
}

.cardInfoWrapper .fullTitle {
  position: absolute;
  top: -4rem;
  left: 6rem;
  visibility: hidden;

  width: 16.25rem;

  background-color: var(--purple-300);
  color: white;
  font-family: Inter, sans-serif;
  font-size: 0.875rem;

  padding: 1rem;
  text-align: justify;

  border-radius: 1rem;
}

.cardInfoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 70%;
  height: 100%;

  padding: 0.5rem 0 0.5rem 0;

  margin-left: 1rem;

  strong {
    font-family: Lexend, sans-serif;
    font-size: 0.875rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.cardInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: Inter, sans-serif;
  color: var(--gray-500);
  font-size: 0.875rem;

  width: 100%;

  .episodeDetailsWrapper {
    width: 80%;
  }

  .members {
    font-family: Lexend, sans-serif;
    font-size: 0.875rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.episodeDetails {
  display: flex;
  align-items: center;

  margin-top: 0.5rem;

  .ponto {
    width: 4px;
    height: 4px;
    background-color: var(--gray-200);
    border-radius: 100%;

    margin: 0 0.5rem 0 0.5rem;
  }
}

.playButton {
  background: var(--white);
  border: 0;
  font-size: 0;

  width: 2.5rem;
  height: 2.5rem;

  border-radius: 0.625rem;
  border: 1px solid var(--gray-100);

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9);
  }

  img {
    width: 1.5rem;
    height: 1rem;
  }
}
